Repository kubeflow/kubeflow, pull requests merged in 2020-09, with the labels that each got.

#5241 Add MartinForReal as reviewer
  components/notebook-controller/OWNERS
Labels: approved, cla: yes, lgtm, needs-ok-to-test, size/XS

#4852 Add Tolerations to PodDefault
  components/admission-webhook/main.go
  components/admission-webhook/main_test.go
  components/admission-webhook/pkg/apis/settings/v1alpha1/poddefault_types.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#5316 Refactor the JWA backend to utilize common code
  components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/__init__.py
  components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/api/namespace.py
  components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/api/notebook.py
  components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/api/storageclass.py
  components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/authn.py
  components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/authz.py
  components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/config.py
  components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/helpers.py
  components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/rok/routes.py
  components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/serving.py
  components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/status.py
  components/crud-web-apps/jupyter/.gitignore
  components/crud-web-apps/jupyter/backend/Makefile
  components/crud-web-apps/jupyter/backend/apps/common/__init__.py
  components/crud-web-apps/jupyter/backend/apps/common/form.py
  components/crud-web-apps/jupyter/backend/apps/common/routes/__init__.py
  components/crud-web-apps/jupyter/backend/apps/common/routes/delete.py
  components/crud-web-apps/jupyter/backend/apps/common/routes/get.py
  components/crud-web-apps/jupyter/backend/apps/common/routes/patch.py
  components/crud-web-apps/jupyter/backend/apps/common/status.py
  components/crud-web-apps/jupyter/backend/apps/common/utils.py
  components/crud-web-apps/jupyter/backend/apps/common/yaml/notebook_template.yaml
  components/crud-web-apps/jupyter/backend/apps/common/yaml/spawner_ui_config.yaml
  components/crud-web-apps/jupyter/backend/apps/default/__init__.py
  components/crud-web-apps/jupyter/backend/apps/default/routes/__init__.py
  components/crud-web-apps/jupyter/backend/apps/default/routes/post.py
  components/crud-web-apps/jupyter/backend/apps/rok/__init__.py
  components/crud-web-apps/jupyter/backend/apps/rok/routes/__init__.py
  components/crud-web-apps/jupyter/backend/apps/rok/routes/post.py
  components/crud-web-apps/jupyter/backend/apps/rok/utils/common.py
  components/crud-web-apps/jupyter/backend/entrypoint.py
  components/crud-web-apps/jupyter/backend/requirements.txt
Labels: approved, cla: yes, lgtm, size/XXL
